
<div class="box tabular settings">
  <%= form_tag({:controller => 'ldap_settings', :action => 'test'}, method: :put, :remote => true, :id => 'commit-test' ) do %>
  <p><%= label_tag :test_users %><%= text_field_tag 'test_users', '' %></p>
  <p><%= label_tag :test_groups %><%= text_field_tag 'test_groups', '' %></p>
  <p><%= submit_tag(l(:button_execute), :id => 'commit-test-submit') %></p>
  <% end %>


  <div class="autoscroll">
  <fieldset>
    <legend><%=l(:label_result)%></legend>

      <pre id="test-result"><%=l :label_not_executed %></pre>
  </fieldset>
  </div>
  
</div>