<div class="contextual">
<%= change_status_link(@ldap_setting) %>
</div>

<h2><%= AuthSourceLdap.count > 1 ? link_to(l(:label_ldap_synchronization), ldap_settings_path) : l(:label_ldap_synchronization) %> &#187; <%=h @ldap_setting.name %>
  <%= verdict_badge(@ldap_setting.active? ? l(:text_badge_active) : l(:text_badge_disabled), @ldap_setting.active? ? 'ok' : 'muted') %></h2>

<%= render_tabs [
  {:name => 'settings', :partial => 'ldap_settings/settings_tab', :label => :label_settings},
  {:name => 'test', :partial => 'ldap_settings/test', :label => :label_test}
] %>

<% html_title(l(:label_ldap_synchronization)) -%>

<% content_for :header_tags do %>
  <%= javascript_include_tag base_settings_ldap_settings_path(:format => 'js') %>
  <%= javascript_include_tag 'ldap_settings.js', :plugin => 'redmine_ldap_sync' %>
<% end %>
